@media (width <= 1400px) {
  #nav-search {
    display: none;
  }

  #hamburger-nav-heading {
    display: none;
  }

  .nav-left {
    display: none;
  }

  .nav-mid {
    grid-column: 1/6;
  }

  #sidebar {
    display: none;
  }

  main {
    grid-column: 1/4;
    padding: 2rem 7rem;
  }

  #hamburger {
    display: inline;
  }

  #aside-search-heading {
    display: block;
  }

  #aside-search {
    display: block;
  }

  #aside-search form {
    width: 100%;
  }

  #hamburger-sidebar {
    visibility: visible;
    pointer-events: auto;
  }

  #hamburger-sidebar.active {
    transform: translateX(0%);
  }
}

@media (width <= 1050px) {
  main {
    width: 100%;
  }

  article {
    width: 100%;
    min-width: unset;
  }
}

@media (width <= 850px) {
  main {
    padding: 1rem 4rem;
  }

  #header-nav {
    display: none;
  }

  #aside-nav {
    display: flex;
  }

  #hamburger-nav-heading {
    display: block;
  }

  #hamburger {
    grid-column: 4/6;
    margin-left: auto;
    margin-right: 0;
  }

  #hamburger-sidebar {
    left: unset;
    right: 0;
    transform: translateX(100%);
    border-radius: 0;
    border-left: 4px solid var(--accent);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: 0;
    padding-top: 0;
  }

  #aside-nav-heading {
    display: block;
  }

  .nav-left {
    display: block;
    grid-column: 1/3;
  }
}

@media (width <= 600px) {
  .nav-left {
    display: none;
  }

  article h2 {
    font-size: 1.5rem;
  }

  article h3 {
    font-size: 1.5rem;
  }

  article h4 {
    font-size: 1rem;
  }

  #sidebar.active {
    width: 100vw;
    min-width: unset;
  }

  article {
    padding: 2rem;
  }
}

@media (width <= 500px) {
  .nav-left {
    display: none;
  }

  main {
    padding: 0 1rem;
    width: 90%;
  }
}

@media (width <= 320px) {
  #hamburger-sidebar {
    width: 100vw;
  }
}
