{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">
{% endblock %}

{% block title %}Calculus{% endblock %}
{% block description %}A curated collection of notes,
articles, and problem sets designed to bridge the gap
between high school calculus and real analysis.{% endblock %}

{% block main-content %}
<main>
  <section>
    <h1>Calculus</h1>

    <p>
      A collection of notes, handouts, and
        problem sets aimed at bridging
        high school calculus with real analysis.
        To be fair, the difficulty and scope
        of some of these articles go well beyond
        ISI/CMI preparation. However, learning deeper
        techniques in analysis often helps in developing
        intuitions for simpler solutions
        that might otherwise seem out of reach.
    </p>

    <p>
        Follow every article diligently from
      <a
        href="https://ghoshadi.wordpress.com/calculus/"
        target="_blank"
      >Aditya Da’s calculus page</a>.
      In case any
      of the links break, a remote
      Google Drive copy of the articles can
      be found
      <a
        href="https://drive.google.com/drive/folders/17eBo2hvbRIuBRXMz9g4YymH0t9NtpTc0?usp=sharing"
        target="_blank"
      >here</a>.
    </p>
  </section>

  <section>
    <h1>Additional resources</h1>
    <h2 id="mcq-notes" class="anchored">MCQ Notes</h2>
    <ol>
      <li>
        <a
          href="https://drive.google.com/file/d/1TaE7pBe1hYUZhkqy0scyd4_-2NmyMtoH/view?usp=sharing"
          target="_blank"
          >Differentiation</a>
      </li>

      <li>
        <a
          href="https://drive.google.com/file/d/1WO07Ci1bzCE2bgf9xJChM0iT9PNhOcc0/view?usp=sharing"
          target="_blank"
          >Trigonometry</a>
      </li>

      <li>
        <a
          href="https://drive.google.com/file/d/1J-yhB98nqDzzfR_K206W4_yGNfqTJWzV/view?usp=sharing"
          target="_blank"
          >Determinants and Matrices</a>
      </li>

      <li>
        <a
          href="https://drive.google.com/file/d/18kkobiy90omsgpz-x0gVsIsI4xK5vcUN/view?usp=sharing"
          target="_blank"
          >Complex Numbers</a>
      </li>

      <li>
        <a
          href="https://drive.google.com/file/d/1LK2DY2q-3uHjs_PjKs6FAzKv3P277w9r/view?usp=sharing"
          target="_blank"
          >Probability</a>
      </li>

      <li>
        Integration, Coordinate Geometry, and Vectors — follow any
          school level book (I followed S.N. Dey)
      </li>
    </ol>
  </section>

  <section>
    <h2 id="seq-and-ser" class="anchored">Sequences and Series</h2>
    <ol>
      <li>
        <a
          href="https://drive.google.com/file/d/1Jpgl_TfGf7rop65qFo9J9exGLZsXr0Ub/view?usp=sharing"
          target="_blank"
          >The Role of LUB Axiom in Real Analysis by S. Kumaresan</a>
      </li>
  </section>
</main>
{% endblock %}
