{% extends "base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">
{% endblock %}

{% block title %}Olympiads{% endblock %}
{% block description %}A collection of articles, notes,
and problem sets that I used during my preparation for
mathematical Olympiads in high school.{% endblock %}

{% block main-content %}
<main>
<section>
  <h1>Olympiads</h1>
  <p>
    This page lists the books, handouts, and references
      I used during my Math Olympiad preparation.  
      Alongside that, I’d like to share
      a piece of
      advice
      I learned the hard way —
      by making the mistake myself.
  </p>

  <ul class="ul-left-bar">
    <li>
      <p>
        <strong>Never be afraid to try hard problems
            — and don’t give up on them too easily.</strong>
          <br>
        I realized this during the final months
          of my prep, when my problem-solving ability
          seemed to hit a ceiling.
        Trying harder problems exposes you to new ideas,
          unexpected tools, and alternate ways of thinking
          — even if you don’t solve them.
        Configuration geometry is a great example:
          struggling with difficult setups teaches
          you what kinds of perturbations or tricks
          are worth exploring later.
      </p>

      <p>
        It’s worth mentioning that if you’re in
          <a
          href="https://web.evanchen.cc/otis.html"
          target="_blank"
          >OTIS</a>, try starting
          directly with the D-version of a unit
          instead of going through the B-version
          first. Even if you can’t solve
          the problems initially, analyze the solutions
          carefully
          and go through the examples thoroughly. After all,
          we humans are nothing but machine-learning
          models — with an additional parameter for emotions
          added in.
          The more you see, the more you learn,
          and the more you can deliver.
      </p>
    </li>
  </ul>

  <p>
  In case any of
    of the links break, a local
    Google Drive copy of the articles can
    be found
    <a
      href="https://drive.google.com/drive/folders/1nLfQvJwHJbbGu-oTcTr4eMWYgg96pC4a?usp=sharing"
      target="_blank"
    >here</a>.
  </p>
</section>

<section>
  <h2 id="geometry" class="anchored">Geometry</h2>
  <ol>
    <li>
      Euclidean Geometry in Mathematical Olympiads (by Evan Chen)
    </li>
    <li>
      A Beautiful Journey Through Olympiad Geometry (by Stefan Lozanovski)
      <ul>
        <li>
          Selected results from the book —
          <a
          href="https://drive.google.com/drive/folders/1mn0D2vv9PS19bgZgV_e_AYQ_c31oXSE4?usp=sharing"
          target="_blank"
          >link</a>.
        </li>
      </ul>
    </li>
    <li>
      Lemmas in Olympiad Geometry (by Cosmin Pohoata and Titu Andreescu)
      <ul>
        <li>
          Selected results from the book —
          <a
          href="https://drive.google.com/drive/folders/1_hQk1GDstdi-yrogmQXl5ATMikdhh5sh?usp=sharing"
          target="_blank"
          >link</a> (incomplete).
        </li>
      </ul>
    </li>

    <li>
      Power of Point:
      <ul>
        <li>
          <a
            href="https://artofproblemsolving.com/community/c6h2513977p21293567"
            target="_blank"
          >POP handout by Kagebaka</a>
        </li>
      </ul>
    </li>

    <li>
      Isogonal Conjugates:
      <ul>
        <li>
          <a
            href="https://cdn.artofproblemsolving.com/attachments/9/2/b1757aba17286188a31a18a0f28635e90f559a.pdf"
            target="_blank"
            >Isogonal Conjugates handout by WizardMath</a>
        </li>
        <li>
          <a
            href="https://drive.google.com/file/d/1INKDsUeMNMD9LKqEuWzz0LYiZ8xMu8PW/view?usp=sharing"
            target="_blank"
            >Advanced Lemmas in Geometry handout by Fedir Yudin</a>
        </li>
      </ul>
    </li>

    <li>
      Anti-Steiner Point:
      <ul>
        <li>
          <a
            href="https://drive.google.com/file/d/1oHr0nLGhIh2jbkENwtuK1qQU-RxJpvuv/view?usp=sharing"
            target="_blank"
            >Anti-Steiner Point handout by Nguyen Doc Tuan</a>
        </li>
      </ul>
    </li>

    <li>
      Config Geo:
      <ul>
        <li>
          <a
            href="https://artofproblemsolving.com/community/c6h2456133p20459825"
            target="_blank"
          >Murica by i3435</a>
          <ul>
            <li>
              Selected results from the handout —
              <a
              href="https://drive.google.com/drive/folders/1wn54nJHkQnpY0Ia_O3r9ixp7mQiTg1ut?usp=sharing"
              target="_blank"
              >link</a>.
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      Poncelet Porism:
      <ul>
        <li>
          <a
            href="https://drive.google.com/file/d/15UNvhgktJIRR9LURWiqDPzzqImz6ED_X/view?usp=sharing"
            target="_blank"
            >Poncelet Porism handout by Swapnaneel Da</a>
        </li>
      </ul>
    </li>

    <li>
      DDIT:
      <ul>
        <li>
          <a
            href="https://artofproblemsolving.com/community/c6h1509866p8957048"
            target="_blank"
          >DDIT handout by MarkBcc168</a>
        </li>
      </ul>
    </li>

    <li>
      Polar Duality:
      <ul>
        <li>
          <a
            href="https://artofproblemsolving.com/community/c6h2110577p15272791"
            target="_blank"
          >Polar Duality handout by riadok</a>
        </li>
      </ul>
    </li>

    <li>
      Method of Moving Points:
        <ul>
          <li>
            <a
            href="https://artofproblemsolving.com/community/c473124h1763266"
            target="_blank"
            >Moving Points tutorial by yayups</a>
          </li>

          <li>
            <a
            href="https://artofproblemsolving.com/community/c6h1952595p13480666"
            target="_blank"
            >MMP handout by zacchro, yayups, and anantmudgal09</a>
          </li>

          <li>
            <a
            href="https://artofproblemsolving.com/community/c6h1884540p12835147"
            target="_blank"
            >MMP handout by Vlados021</a>
          </li>

          <li>
            <a
            href="https://artofproblemsolving.com/community/c6h2271574p17689123"
            target="_blank"
            >$\mathbb{RP}^2$ handout by Flash_Sloth</a>
          </li>
        </ul>
    </li>

    <li>
      Conic Geo:
        <ul>
          <li>Geometry of Conics (by Alexey A. Zaslavsky and Arseniy Akopyan)</li>
          <li>
            <a
            href="https://drive.google.com/file/d/1mFGGMDI_QUisT3j0cvfX73a4PVxIwCCC/view?usp=sharing"
            target="_blank"
            >Conic Geo handout by DGO team</a>
          </li>
          <li>
            <a
            href="https://drive.google.com/file/d/1ElKbdq0Xl-X5wC6c82hLMGy3wOwddL7L/view?usp=sharing"
            target="_blank"
            >Poncelet Conic handout by Ivan Zelich</a>
          </li>
        </ul>
    </li>

    <li>
      Neuberg Cubic:
      <ul>
        <li>
          <a
          href="https://drive.google.com/file/d/138WyxshXmlAbLUnWr5CRfunFE-i06zRa/view?usp=sharing"
          target="_blank"
          >Neuberg Cubic handout by Ivan Zelich
            and Xuming Liang</a>
        </li>
      </ul>
    </li>

    <li>
      For problem practice, try solving problems
        from
        <a
          href="https://web.evanchen.cc/otis.html"
          target="_blank"
          >OTIS</a> units.
    </li>

    <li>
      Additional Resources:
      <ul>
        <li>
          <a
            href="https://faculty.evansville.edu/ck6/encyclopedia/etc.html"
            target="_blank"
            >Kimberling’s Encyclopedia of Triangle Centers (ETC)</a>
        </li>

        <li>
          <a
            href="http://bernard-gibert.fr/"
            target="_blank"
            >Catalog of Triangle Cubics</a>
        </li>

        <li>
          <a
            href="https://artofproblemsolving.com/community/c946900h1911664_properties_of_the_sharkydevil_point"
            target="_blank"
            >Properties of the Sharky-Devil Point</a>
        </li>

        <li>
          <a
            href="https://artofproblemsolving.com/community/c2771h1181729_isogonal_line_lemma_updated"
            target="_blank"
            >Isogonal Line Lemma</a>
        </li>

        <li>
          <a
            href="https://artofproblemsolving.com/community/c6h66285p391497"
            target="_blank"
            >Circumcevian Ping-Pong Lemma</a>
        </li>

        <li>
          A few Geo blogs:
            <ul>
              <li>
                <a
                href="https://artofproblemsolving.com/community/c1035023"
                target="_blank"
                >amar_04’s blog</a>
              </li>
              <li>
                <a
                href="https://artofproblemsolving.com/community/c776104"
                target="_blank"
                >AlastorMoody’s blog</a>
              </li>
              <li>
                <a
                href="https://artofproblemsolving.com/community/c701535"
                target="_blank"
                >math_pi_rate’s blog</a>
              </li>
              <li>
                <a
                href="https://artofproblemsolving.com/community/c284651"
                target="_blank"
                >TelvCohl’s blog</a>
              </li>
              <li>
                <a
                href="https://artofproblemsolving.com/community/c1180874"
                target="_blank"
                >Functional_equation’s blog</a>
              </li>
              <li>
                <a
                href="https://mathworld.wolfram.com/topics/Grinberg.html"
                target="_blank"
                >Darij Grinberg’s contribution to Wolfram MathWorld</a>
              </li>
            </ul>

            To learn even more, you can check out their posts.
            You can learn a lot of advanced tools by reading
            solutions by people like
            <a
            href="https://artofproblemsolving.com/community/user/56597"
            target="_blank"
            >Luis González</a>,
            <a
            href="https://artofproblemsolving.com/community/user/226473"
            target="_blank"
            >TelvCohl</a>,
            etc. (Let’s hope I’m not missing out names... 💀)
        </li>
      </ul>
    </li>
  </ol>
</section>

<section>
  <h2 id="number-theory" class="anchored">Number Theory</h2>
  <ol>
    <li>
      Modern Olympiad Number Theory (by Aditya Khurmi)
    </li>

    <li>
      For problem practice, try solving problems
        from
        <a
          href="https://web.evanchen.cc/otis.html"
          target="_blank"
          >OTIS</a> units.
    </li>
  </ol>
</section>

<section>
  <h2 id="combinatorics" class="anchored">Combinatorics</h2>
  <ol>
    <li>
      An Exploration of Olympiad Combinatorics (by Rushil Mathur)
        <ul>
          <li>
            I haven’t personally gone through
            this book, but I’ve heard
            that it’s extremely well-written for
            beginners.
          </li>
        </ul>
    </li>

    <li>
      For problem practice, try solving problems
        from
        <a
          href="https://web.evanchen.cc/otis.html"
          target="_blank"
          >OTIS</a> units.
    </li>

    <li>
      Olympiad Combinatorics (by Pranav A. Sriram)
      <ul>
        <li>
          Readers interested in exploring more can
            check out this book.
            (It’s quite challenging for beginners,
            though — the learning curve is steep.)
        </li>
      </ul>
    </li>
  </ol>
</section>

<section>
  <h2 id="algebra" class="anchored">Algebra</h2>
  <ol>
    <li>
      Practicing problems
        from
        <a
          href="https://web.evanchen.cc/otis.html"
          target="_blank"
          >OTIS</a> units is more than enough.
        <ul>
          <li>
            I used to main Geometry, but
            <code>D-wrapfn</code> remains
            my favorite unit to this day.
          </li>
        </ul>
    </li>
  </ol>
</section>





</main>
{% endblock %}
